<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/tasks">Wszystkie</a>
<br>
<a href="/finished">Skończone</a>
<br>
<a href="/unfinished">Nieskończone</a>
<br>
<h1>Dodaj zadanie</h1>
<form action="/tasks" method="post">
    <label>Podaj nazwę</label>
    <input type="text" name="name" required>
    <br>
    <br>
    <label>Podaj opis</label>
    <textarea name="description" required>
    </textarea>
    <br>
    <br>
    <label>Skończony</label>
    <input type="checkbox" name="finished">
    <br>
    <br>
    <input type="submit" value="Dodaj zadanie">
</form>

</body>
</html>